<div class="text-center mt-5 color">
    <form class="form-signin">
    <img class="mb-4" src="../../assets/logo.png" alt="" width="200px">
    <h1 class="h3 mb-3 font-weight-normal text-white">Please Enter Pin Number</h1>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Pin Number" required autofocus>
    <button class="btn btn-lg btn-outline-dark btn-block" type="submit" [routerLink]="['/home']">Sign in</button>
    </form>
</div>